:root {
  --font-base: "poppins";
}
.navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  font-family: var(--font-base);
  font-size: 8px;
  color: rgb(45, 5, 65);
}
h3 {
  font-family: var(--font-base);
  font-size: 8px;
  color: rgb(0, 0, 0);
}
.homedilivery {
  font-family: var(--font-base);
  font-size: 24px;
}
.icon {
  height: 20px;
  width: 50px;
  font-size: 24px;
}
.iconbox {
  color: rgb(34, 10, 57);
  height: 50px;
  width: 50px;
  font-size: 50px;
}
.card-img-top {
  height: 600px;
}
.carousel-item {
  height: 600px;
}
.card-title {
  color: rgb(95, 4, 54);
}
.d-block {
  height: 700px;
  width: 300px (important);
}

.con {
  display: flex;
  justify-content: space-between; /* Adjust this property to control the spacing */
  align-items: center;
}
.rowpur {
  background-color: rgba(192, 67, 201, 0.142);
}
.icon {
  margin-right: 10px;
}

.icon {
  font-size: 24px;
}

.btn {
  height: 40px;
  width: 200px;
}
#mybutton {
  height: 40px;
  width: 40px;
}
.form-control {
  height: 40px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.fashion1 {
  text-shadow: 0cqmax;
  color: rgb(78, 4, 72);
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.fashion2 {
  text-shadow: 0cqmax;
  color: rgb(233, 128, 222);
  font-size: 40px;
}

/* Customize the color of each icon individually */
.ri-youtube-fill {
  color: rgb(196, 19, 19); /* Change the color of the YouTube icon */
}

.ri-facebook-fill {
  color: rgb(28, 28, 172); /* Change the color of the Facebook icon */
}

.ri-instagram-fill {
  color: rgb(193, 26, 173); /* Change the color of the Instagram icon */
}

.ri-whatsapp-fill {
  color: rgb(186, 200, 188); /* Change the color of the WhatsApp icon */
}

/* register css */
.fmpurpul {
  background-color: rgba(218, 160, 237, 0.8);
  border-radius: 3%;
}
.rr {
  text-align: center;
  color: rgb(43, 21, 63);
}

/* size guid css */
.col {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.col-2 {
  background-color: rgba(181, 95, 209, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.purpul {
  background-color: rgba(165, 19, 129, 0.8);
}
/* my account css */
.col-lg-6 {
  text-align: center;
  margin-top: 20px;
}
.phto {
  height: 100px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
